.cell {
  background-color: lightblue;
  border: solid 1px teal;
  font-weight: 600;
  font-size: 18px;
  float: left;
  color: teal;
  cursor: auto;
}

.guessed {
  background-color: #d2eef7;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  outline: solid lightseagreen 1px;
  outline-offset: -2px;
}
